{% load static %}

<html>
	<head>
		<title>ToDo App</title>	
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/tasks.css' %}">	
	</head>
	<body>		
		<div class="center-column">	
		<h1 style="text-align:center">To-Do App</h1>	
			<form method="POST" action="/">
				{% csrf_token %}
				{{form.title}}
				<input class="btn btn-info" type="submit" name="Create Task">
			</form>
			<div class="todo-list">
			{% block content %}
			{% endblock %}
			</div>
		</div>	
	</body>
</html>
