{% extends 'tasks/base.html' %}

{% block content %}
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
			{% if user.is_authenticated %}
				{% if task.complete == True %}
					<strike>{{task}}</strike>
				{% else %}
					<span>{{task}}</span>
				{% endif %}    
        	{% endif %}
		</div>
	{% endfor %}
{% endblock %}
